.main
  .header
    .header__searchs_box
      .header__searchs_box__input
      .header__searchs_box__icon
    .header__tabs_box
      .header__tabs_box__area
        = link_to "#"
      .header__tabs_box__color
        = link_to "#"
      .header__tabs_box__likes
        = link_to "#"
      .header__tabs_box__login
        = link_to "#"
  .contents
    .contents__image
    .contents__main
      %h3.contents__main__text
      .contents__main__contents_box
        .contents__main__contents_box__content
          .contents__main__contents_box__content__info
            .contents__main__contents_box__content__info--
    